streamlit
numpy
matplotlib
scipy
pandas
scikit-image
pdfkit
streamlit-option-menu
opencv-python
pillow
reportlab
seaborn
plotly
fuzzywuzzy
python-decouple
beautifulsoup4
lxml
pytest
openpyxl
pygments
markdown
python-binance
